node_js:
  - "8"
dist: trusty

services:
  - docker

before_install:
  - sudo apt-get -qq update

script:
  - npm install
  - npm run lint
  - docker build -t speech-proxy:build .

notifications:
  slack:
    on_success: always
    on_failure: always
    rooms:
      secure: CVYYuOur3MY93FYKBbGxTOoYI5wM0fr1Y4A063tw18DBP1kACKEr//xeZ0hWjRCiQkF9bO3OrT+Xt2bHMQ4jVRJdfM7zmQa3EqvoIb13x0mmb7mtfoOFqdv/l+u56XzYV6zDXJTegHnNjGgvlwO0C1cC21nOmRxmDS4aT6bfstrycH/gy6stgesfSNJYTJ6yXcAF1pfb3Sa1Rj3YkhvUxSzuXElINgjI5fbJwQAhnLp7qDhTizisUlcHdGn1ZvjFRelXAbio8ao1ybvHQ6vxPicZd7wjPEb61fKzMDIXuUdOQq1O9U84aOfC32g8HxYVs9EvsG2U4ww6grnDac35Cx5f/N9v1obd9wJaT/0+tMZSEFVocwCrSfMyys3mO6JnaTNeNTmtVh81ct+V18GHCbOyniXpkvzJ9dNmBTkirKUX8gBkHfQuYA8qoYA4cVrKBnQvoFNw8W7A3jH2eRL3imNK4LincSirtNn6b2UdUNJZM83CZGBRwOyKHH3ivjMyJzCBHSKIQZC6SHrGQQmiCnLS+aYieXbN1oTHwANxMp7TPWzeJwRnHwoVigUSYep69WZvBjyu+M2aIhCe37jXnx+jU+0FqVOfXJvt3gRDqyByX/M9u6DDkBzIf2lWrS2I5Nix1cLbOBxsaYKT+o1hs23BTo5z/mocdekNn5paftg=
